# Clock at 100MHz
NET "clk" LOC = "N9"; # CLK0
NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 10 ns HIGH 50 %;
# LED
#NET "nout" LOC = "C15"| IOSTANDARD = LVCMOS33 ; #IO_L24N_1
NET "pout"   LOC = "C16"| IOSTANDARD = LVCMOS33 ; #IO_L24P_1
